{% extends '../base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ static_url('blog/blog.css') }}">

<style>
    code {
        display: none;
    }

    .life-words {
        position: absolute;
        left: 45vw;
        text-align: center;
        color: transparent;
        font-size: 2rem;
        background: linear-gradient(to right, #f4f5f7,black, #f4f5f7);
        -webkit-background-clip: text;
        background-size: 80%;
        background-repeat: no-repeat;
        animation: move 2s linear infinite;
    }

    @keyframes move {
        0% {
            background-position: -500%;
        }
        100% {
            background-position: 500%;
        }


    }
</style>
{% end %}
{% block title %}
<title>纳米技术栈</title>
{% end %}

{% block content %}

<section class="brand">
    <div class="greet">
        <div>
            <ul class="greet-content">
                <li class="character">H</li>
                <li>I</li>
                <li>,</li>
                <li>C</li>
                <li>H</li>
                <li>I</li>
                <li>O</li>
                <li>N</li>
                <li>E</li>
            </ul>
        </div>
    </div>
    <div class="search">
        <div class="input-search">
            <div class="search-box">

                <i class="search-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70%" height="70%" fill="currentColor"
                         class="bi bi-search"
                         viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </i>
                <input type="text"/>
            </div>

        </div>
        <div class="apps">
            <ul class="items">
                <a href="/article">
                    <li class="item">文章</li>
                </a>
                <a href="/messages">
                    <li class="item">留言板</li>
                </a>
                <a href="/messages/email">
                     <li  class="item">聊天室</li>
                </a>
                <a href="/closed">
                     <li class="item">生活随笔</li>
                </a>
                <a href="/closed"><li class="item">找到我</li></a>
                <a href="/closed">
                     <li  class="item">对接翻译</li>
                </a>
                <a href="/closed">
                      <li  class="item">网页PY</li>
                </a>
                   <a href="/closed">
                      <li href="/closed" class="item">工具箱</li>
                </a>

            </ul>
        </div>
    </div>
    <div class="life-words">每天努力一点点!</div>
</section>
<div id="aplayer1">

</div>
{% end %}

{% block scripts %}
<script src="{{ static_url('blog/blog.js') }}"></script>

{% end %}
