* {
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
    color: #333;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background: #f4f5f7;
}

section, footer, article {

    display: block;

}

section {
    position: relative;
    margin-top: 1vh;

}


footer {
    display: block;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0px;
}


a{
    color: black;
    text-decoration: none;
}

code{
    /*background: grey;*/
}

@media screen and (max-width: 678px) {
    .search {
        margin-top: 0vh;
    }
    .avatar{
        display: none;
    }
}

.mune-container {
    width: 8vw;
    height: 8vh;
    position: fixed;
    right: 3vw;
    top: 5vh;
    border-radius: 50%;
    z-index: 999;

}


#avatar-img {

   height: 120%;
}


.menu {
    opacity: 0;
    border: 1px black solid;
    transition: 0.4s ease-in-out;
    border-top: none;
    transform: translateY(-.4vh);
    position: absolute;
    z-index: 999;

}

.menu ul {
    display: block;
    margin: 0;
    list-style: none;

}

.menu ul li {
    border: 1px black solid;
}
